@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Lato:wght@400;700&display=swap");
/* Override styles here */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

img + * {
  margin-block-start: var(--flow-space, 3em);
}

body {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content-start] minmax(0, 600px) [content-mid] minmax(
      0,
      600px
    )
    [content-end]
    1fr [full-end];
}

header,
footer {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;
  background: var(--color-surface-elevated-transparent, rgba(16, 24, 40, 0.9));

  > * {
    grid-column: content-start / content-end;
  }
}

.hero {
  background-color: black;
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;
}

.experience {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;
  background-color: #f5b800;

  > div {
    grid-column: content-start / content-end;
  }
}

.forsidecard {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  > .container {
    grid-column: content-start / content-mid;
  }

  > .card {
    grid-column: content-mid / content-end;
  }
}

.aboutcard {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  > .square2 {
    grid-column: content-mid / content-end;
  }

  > .card {
    grid-column: content-start / content-mid;
  }

  .stats {
    grid-column: content-start / content-end;
  }
}

.contact-section {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .contact-left {
    grid-column: content-start / content-mid;
  }

  .contact-images {
    grid-column: content-mid / content-end;
  }
}

.our-team2 {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .our-team2-content {
    grid-column: content-start / content-end;
  }
}

.our-team1 {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .our-team-champion {
    grid-column: content-start / content-mid;
  }

  .employee2 {
    grid-column: content-mid / content-end;
  }
}

#card4-content {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .card4-content {
    grid-column: content-start / content-end;
  }
}

.accordion-container {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .accordion-content {
    grid-column: content-start / content-end;
  }
}

.hero {
  background-color: var(--color-neutrals-900);
  grid-column: full;
  display: grid;
  position: relative;
  grid-template-columns: subgrid;

  .image-hero {
    grid-column: content-mid / full-end;
  }

  .hero-content {
    grid-column: content-start / content-mid;
  }

  .hero-text {
    grid-column: content-start / content-mid;
  }
}

.Case-study {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  article {
    grid-column: content-start / content-end;
  }
}

.hero2 {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .hero2-content {
    grid-column: content-start / content-end;
  }
}

.hero1 {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .hero1-content {
    grid-column: content-start / content-end;
  }
}

.our-team2 {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .our-team2-content {
    grid-column: content-start / content-end;
  }
}

.our-team1 {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .our-team-champion {
    grid-column: content-start / content-mid;
  }

  .employee2 {
    grid-column: content-mid / content-end;
  }
}
