/* Override styles here */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

img + * {
  margin-block-start: var(--flow-space, 3em);
}

body {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content-start] minmax(0, 600px) [content-mid] minmax(
      0,
      600px
    )
    [content-end]
    1fr [full-end];
}

header,
footer {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;
  background-color: aquamarine;

  > * {
    grid-column: content-start / content-end;
  }
}

.hero {
  background-color: black;
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;
}

.experience {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;
  background-color: #f5b800;

  > div {
    grid-column: content-start / content-end;
  }
}

.forsidecard {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  > .container {
    grid-column: content-start / content-mid;
  }

  > .card {
    grid-column: content-mid / content-end;
  }
}

.aboutcard {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  > .square2 {
    grid-column: content-mid / content-end;
  }

  > .card {
    grid-column: content-start / content-mid;
  }

  .stats {
    grid-column: content-start / content-end;
  }
}

.contact-section {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .contact-left {
    grid-column: content-start / content-mid;
  }

  .contact-images {
    grid-column: content-mid / content-end;
  }
}

.our-team2 {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .our-team2-content {
    grid-column: content-start / content-end;
  }
}

.our-team1 {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .our-team-champion {
    grid-column: content-start / content-mid;
  }

  .employee2 {
    grid-column: content-mid / content-end;
  }
}

#card4-content {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .card4-content {
    grid-column: content-start / content-end;
  }
}

.accordion-container {
  display: grid;
  grid-column: full;
  grid-template-columns: subgrid;

  .accordion-content {
    grid-column: content-start / content-end;
  }
}
