---
import Accordion from "../components/Accordion.astro";

const { data, exclusive } = Astro.props;
---

<section class="accordion-container">
  <div class="accordion-content">
    {data.map((props) => <Accordion {...props} {exclusive} />)}
  </div>
</section>

<style>
  .accordion-content {
    padding: 1rlh;
  }

  @media (max-width: 600px) {
    .accordion-container {
      display: flex;
    }
  }
</style>
