---
import PlusIcon from "../icons/plus.svg";
const { exclusive, ...props } = Astro.props;
const { id, question, answer, linkBlock } = props;
---

<section class="accordion-container">
  <div class="accordion-content">
    <details {id} {...exclusive ? { name: "faq2" } : {}}>
      <summary>
        <span>
          {question}
          <PlusIcon />
        </span>
      </summary>
      <div class="answer">
        {answer.map((a) => <p set:html={a} />)}
      </div>
    </details>
  </div>
</section>

<style>
  details {
    color: hsl(190 30% 12%);
    border-bottom: 1px solid #dadada;
  }

  .accordion-container {
    margin-inline: auto;
  }

  summary {
    font-weight: 700;
    color: #181818;
    text-wrap: revert;
    user-select: none;
    cursor: pointer;
    inline-size: 50ch;
  }

  summary::marker,
  summary::-webkit-details-marker {
    content: "";
    display: none;
  }

  summary span {
    border: none;
    text-align: start;
    padding: 0;
    inline-size: 100%;
    padding-block: 1rlh;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  @supports not (padding: 1rlh) {
    summary span {
      padding-block: 1rem;
    }

    .answer {
      padding-bottom: 1rem;
    }
  }

  summary span svg {
    inline-size: auto;
    height: 1lh;
    flex-shrink: 0;
  }

  .answer {
    color: #595566;
    padding-bottom: 1rlh;
  }

  .answer > * + * {
    margin-top: 1em;
  }

  .link-block {
    display: block;
  }

  details[open] summary span svg {
    transform: rotate(45deg);
  }

  summary span svg {
    transition: transform 0.3s ease;
  }

  /* Animer selve svaret når det folder ud */
  .answer {
    animation: fadeDown 0.2s ease;
  }

  @keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-18px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    summary span svg {
      transition: none;
    }

    .answer {
      animation: none;
    }
  }
</style>
