---
import "../styles/tokens.css";
const { title, description } = Astro.props;
---

<article class="finace-card">
  <div class="icon">
    <slot name="icon" />
  </div>
  <h4>{title}</h4>
  <p>{description}</p>
</article>

<style>
  .finace-card {
    display: grid;
    grid-row: span 4;
    grid-template-rows: subgrid;
    align-content: start;
    gap: 0.5rem;
    border-radius: 1.25rem;
    border: 1px solid #eaeaea;
    background: #fff;
    padding: 1rem;
  }

  @supports not (grid-template-rows: subgrid) {
    .finace {
      grid-row: unset;
      grid-template-rows: unset;
      align-content: start;
    }
  }

  .icon {
    width: fit-content;
    display: inline-flex;
    padding: 0.4rem;
    border-radius: 1.5rem;
    background-color: var(--color-neutrals-900);
  }

  .icon :global(svg) {
    color: var(--color-neutrals-50);
    width: 1.5rem;
    height: 1.5rem;
  }
</style>
