---
import "../styles/tokens.css";
import Hero2Item from "../components/Hero2Item.astro";
---

<section class="hero1">
  <div class="hero1-content">
    <Hero2Item
      page="About"
      title="Igniting Innovation"
      description="Our strength lies in the collaboration between our talented teams and esteemed clients. We cultivate a workplace that champions innovation, promotes peak performance, and guarantees client satisfaction."
    />
  </div>
</section>

<style>
  .hero1 {
    background-color: #f9fafb;
  }
</style>
