---
import "../styles/tokens.css";
import Hero2Item from "../components/Hero2Item.astro";
---

<section class="hero2">
  <div class="hero2-content">
    <Hero2Item
      page="Team"
      title="The Consultors"
      description="Our success stems from the synergy between dedicated teams and our valued clients. We prioritize a company culture that fosters exceptional productivity, ensures customer satisfaction."
    />
  </div>
</section>

<style>
  .hero2 {
    background-color: #f9fafb;
  }
</style>
