---
import "../styles/tokens.css";
import Hero2Item from "../components/Hero2Item.astro";
---

<section class="hero3">
  <div class="hero3-content">
    <Hero2Item
      page="CASE STUDIES"
      title="Taxes & Efficiency"
      description="Our achievements reflect the close collaboration between our expert teams and our esteemed clientele. We cultivate a workplace that champions peak performance and guarantees client satisfaction."
    />
  </div>
</section>

<style>
  .hero3 {
    background-color: #f9fafb;
  }
</style>
